.nav-bar-main{
    background-color: #03045E !important;
}

.logo{
    height: 8vh;
    width: 6vw;
    padding: 0.5vh;
}

.app-links{
    float: right;
}

.nav-link-app{
    color: white;
    padding:2vh;
    text-decoration: none;
    font-size: larger;
    text-align: center;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo{
        height: 3vh;
        width: 4vw;
        padding: 0.5vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo{
        height: 6vh;
        width: 4vw;
        padding: 0.5vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo{
        height: 6vh;
        width: 4vw;
        padding: 0.5vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}