.search-form{
    margin:0 1rem;
    width: 50%;
}

.display-user{
    padding: 2vh 2vw;
}

.display-avatar{
    border: none;
}

.user-avatar{
    border-radius: 100%;
}

.badge-pill{
    margin: 0 2vw;
}

.btn-primary{
    margin: 0;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .search-form{
        margin: 1rem auto;
        width: 80%;
    }
    .btn-primary{
        margin-top: 1vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .search-form{
        margin: 1rem auto;
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .search-form{
        margin: 2rem auto;
        width: 70%;
    }
}


