<div class="container">
    <!-- Search form -->
    <div class="search-form">
        <form action="" class="">
            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter user name">
                </div>
                <div class="col-4">
                    <input type="button" value="Search" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <!-- Users list -->
</div>