.search-form{
    margin: 2rem auto;
    width: 50%;
}

.display-user{
    padding: 2vh 2vw;
}

.display-repos{
    padding: 2vh 2vw;
}

.user-avatar{
    border-radius: 100%;
}

.badge-pill{
    margin: 0 2vw;
}

