<div class="container">
    <!-- Search form -->
    <div class="search-form">
        <form action="" class="" #searchForm="ngForm" (ngSubmit)="search(queryUser)">
            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control" placeholder="Enter user name" [(ngModel)]="queryUser"
                        name="search-user">
                </div>
                <div class="col-4">
                    <input type="submit" value="Search" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <!-- Display one user -->
    <div class="display-user" *ngIf="queryUser">
        <div class="row">
            <div class="col-md-4">
                <div class="card display-avatar">
                    <img class="card-img-top" [src]="githubUser.avatar_url" alt="user-avatar" class="user-avatar">
                    <div class="card-body">
                        <h4 class="card-title">{{githubUser.name}}</h4>
                        <p class="card-text">{{githubUser.bio}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-white">
                        <span class="badge badge-pill alert-success">{{githubUser.followers}} Followers</span>
                        <span class="badge badge-pill alert-info">{{githubUser.public_repos}} Repos</span>
                        <span class="badge badge-pill alert-primary">{{githubUser.following}} Following</span>
                        <span class="badge badge-pill alert-warning">{{githubUser.public_gists}} Gists</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Username: {{githubUser.login}}</li>
                            <li class="list-group-item">Location: {{githubUser.location}} </li>
                            <li class="list-group-item">Company: {{githubUser.company}} </li>
                            <li class="list-group-item">
                                Account Link: 
                                <a href="#" [href]="githubUser.html_url">{{githubUser.html_url}}</a>
                            </li>
                            <li class="list-group-item">Created On: {{githubUser.created_at|date}} </li>
                            <li class="list-group-item">Email: {{githubUser.email}} </li>
                        </ul>
                        <span class="btn btn-primary mt-2" (click)="goToUrl(githubUser.id)">View Repositories</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>